[submodule "src/"]
	path = src/
	url = https://github.com/diy-smarthome/eventhandler.git
[submodule "eventhandler/src"]
	path = eventhandler/src
	url = https://github.com/diy-smarthome/eventhandler.git
